@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
  src: url('../assets/fonts/Poppins-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/Poppins-Black.woff2') format('woff2');
}
